body{
    margin: 0px;

}
header{
    display: flex;
    height: 55px;
    background-color: #F55A5A;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 100px;

}
header > img{
    width: 27px;
    height: 27px;
    margin-right: 9px;
}
.entry-container{
    display: flex;
    justify-content: center;

}

.main-image-container{
    width: 145px;
    height: 198px;
    overflow: hidden;
    border-radius: 7px;
    flex-shrink: 0px;
    margin-right: 20px;
    
}
.main-image-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.markerimage{
    width: 10px;
}