body{
    margin: 0px;

}
header{
    display: flex;
    height: 55px;
    background-color: #F55A5A;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;

}
header > img{
    width: 27px;
    height: 27px;
    margin-right: 9px;
}